

html {
	/* min-width: 320px;
	max-width: 1200px; */
	font-family: 'Roboto', sans-serif;
	font-size: 1rem; /* 16px */
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0.01em;
	margin: 0 auto;
	scroll-behavior: smooth;
	background-color: var(--bg);
}

* {
          box-sizing: border-box;
        }
        
        .header-container,
        .main-container {
          max-width: 90%;
          max-width: 960px;
        }
        header {
          background-color:grey;
          display: flex;
          justify-content: center;
          margin-bottom: 15px;
        }
        .header-container {
          color: black;
          font-weight: bold;
          background-color: grey;
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 1rem 0;
          width: 100%;
        }
        .main-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
        }
        header nav {
          width: 100%;
        }
        header nav ul {
          display: flex;
          justify-content: space-between;
        }
        header nav ul li {
          margin: 0 auto;
        }
        section {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        
        main section:nth-of-type(3n) img {
          max-width: 50%;
          height: 480px;
          object-fit: cover;
        }
        
        h2 {
          font-size: 2rem;
        }
        
        main section:nth-of-type(3n) div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start;
          max-width: 50%;
          height: 480px;
          margin: 15px;
        }
        section div p {
          background-color: bla;
          overflow-y: auto;
          margin: 10px 0;
        }
        
        section div button {
          color: white;
          background: black;
          align-self: center;
          padding: 5px;
          transition: 350ms;
        }
        
        section div button:hover {
          align-self: center;
          background-color: aqua;
        }
        
        img {
          margin: 15px;
        }
        
        footer {
          height: 100px;
          background-color: black;
          margin-top: 15px;
          padding: 0.5rem 0;
        }